.single-card {
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  padding: 30px 0;
  width: 200px;
}
