.single-card {
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.35);
  padding: 30px 0;
  width: 180px;
  .view-config-button {
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s linear;
    &:hover {
      background: #000;
      color: #fff;
      text-decoration: none;
    }
  }
}
